:root {
	--color-brand: #673ab8;
	--color-brand-light: #f1e9ff;
}

html,
body {
	margin: 0;
	min-height: 100%;
	font-family: system-ui, sans-serif;
}

header {
	display: flex;
	background: #ddd;
}

header > nav {
	flex: 1;
	display: flex;
}

header > nav a {
	padding: 10px;
	color: var(--color-brand);
	text-decoration: none;
}

header > nav a:hover {
	background-color: var(--color-brand-light);
}

header > label {
	display: flex;
	align-items: center;
	padding: 10px;
	color: #555;
	font-size: 80%;
}

header input {
	border: none;
	border-radius: 3px;
	padding: 2px 5px;
	font-size: 100%;
}

.app > section {
	padding: 20px;
}

/** Loading indicator */
body::before {
	content: '';
	display: block;
	position: fixed;
	left: 0;
	top: -2px;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, var(--color-brand), var(--color-brand)) no-repeat 0 0;
	opacity: 0;
	transition: all 300ms ease;
	z-index: 999;
	pointer-events: none;
}
body.loading::before {
	transform: translateY(2px);
	opacity: 1;
	transition: all 1s ease 1s;
	animation: page-loading 4s forwards ease-out 1;
}
@keyframes page-loading {
	0% { background-position: -100vw 0; }
	25% { background-position: -100vw 0; }
}
