body,html {
    margin: 0;
    min-height: 100%;
    font-family: system-ui,sans-serif
}

header {
    display: flex;
    background: #ddd
}

header>nav {
    flex: 1;
    display: flex
}

header>nav a {
    padding: 10px;
    color: #673ab8;
    text-decoration: none
}

header>nav a:hover {
    background-color: #f1e9ff
}
