name: compressed-size
on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install
        run: yarn --frozen-lockfile
      - name: compressed-size-action
        uses: preactjs/compressed-size-action@v2
        with:
          pattern: 'packages/demo/{wmr.cjs,demo/dist/**/*.{js,css,html}}'
          build-script: ci
          strip-hash: "\\.(\\w{8})\\.(?:js|css)$"
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
